{% extends 'base.html' %}

{% block title %}Reservas{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Ver reservas</h2>



<table class="table table-hover shadow-sm bg-white">
     {% if reservas %}
    <thead class="table-success">
        <tr>
            <th>User ID</th>
            <th>Veiculo ID</th>
            <th>Data de inicio</th>
            <th>Data Fim</th>
            <th>Status</th>
            <th>Valor total</th>
            <th>Criado em</th>
            <th> Ações </th>
        </tr>
    </thead>

   
    <tbody>
        {% for r in reservas %}
        <tr>
            <td>{{ r.user_id }}</td>
            <td>{{ r.veiculo_id }}</td>
            <td>{{ r.data_inicio }}</td>
            <td>{{ r.data_fim }}</td>
            <td>{{ r.status }}</td>
            <td>{{ r.valor_total  }}</td>
            <td>{{ r.criado_em }}</td>
            

            <td>
                <a href="" class="btn btn-warning btn-sm">Editar</a>
                <a href="" 
                   onclick="return confirm('Excluir cliente?')" 
                   class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <p>Você não possui reservas</p>
    {% endif %}
</table>
{% endblock %}
