{% extends 'base.html' %}
{% block title %}Novo Veículo{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Cadastrar Veículo</h2>

<form method="POST" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label class="form-label">Modelo</label>
            <input type="text" name="modelo" class="form-control" required>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Marca</label>
            <input type="text" name="marca" class="form-control" required>
        </div>

        <div class="col-md-4 mb-3">
            <label class="form-label">Ano</label>
            <input type="number" name="ano" class="form-control" required>
        </div>

        <div class="col-md-4 mb-3">
            <label class="form-label">Placa</label>
            <input type="text" name="placa" class="form-control">
        </div>

        <div class="col-md-4 mb-3">
            <label class="form-label">Cor</label>
            <input type="text" name="cor" class="form-control">
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Tipo</label>
            <select name="tipo_id" class="form-control" required>
                <option value="">Selecione...</option>
                {% for t in tipos %}
                <option value="{{ t.id }}">{{ t.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Preço por dia (R$)</label>
            <input type="number" step="0.01" name="preco_por_dia" class="form-control" required>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Status</label>
            <select name="status" class="form-control">
                <option value="disponivel">Disponível</option>
                <option value="indisponivel">Indisponível</option>
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Localização</label>
            <input type="text" name="localizacao" class="form-control">
        </div>

        <!-- CAMPO DE FOTO -->
        <div class="col-md-12 mb-3">
            <label class="form-label fw-semibold">Foto do Veículo</label>
            <input type="file" name="foto" class="form-control" accept="image/*">
        </div>

    </div>

    <button class="btn btn-primary w-100 mt-3">Salvar</button>
</form>

{% endblock %}
