/* FOOTER */
.footer {
    background: #222;
    color: #eee;
}

.footer-link {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.footer-link:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.social-icon {
    font-size: 1.5rem;
    color: var(--yellow);
    transition: 0.2s;
}

.social-icon:hover {
    color: white;
    transform: scale(1.1);
}


.benefit-card {
    background: #1a1a1a;
    color: #fff;
    transition: 0.3s;
}
.benefit-card:hover {
    background: #222;
    transform: translateY(-5px);
}
.icon-circle {
    width: 55px;
    height: 55px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-circle i {
    font-size: 26px;
    color: #ff9800;
}

.testimonial-card {
    background: #fff;
    border-left: 5px solid var(--primary-green);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.newsletter-section {
    background: var(--primary-green);
}
.newsletter-section input {
    border: none;
}

/* 
flash messages:
*/

/* FLASH MESSAGES */
.flash-message {
    padding: 14px 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    animation: fadeInDown 0.4s ease-out;
}

/* Sucesso */
.flash-success {
    background-color: var(--primary-green);
}

/* Erro */
.flash-error {
    background-color: #d9534f;
}

/* Aviso */
.flash-warning {
    background-color: var(--yellow);
    color: #333;
}

/* Informação */
.flash-info {
    background-color: #0275d8;
}

/* Animação */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.promo-bar {
    width: 100%;
    background: #000;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    letter-spacing: .8px;
    border-bottom: 4px solid #ff9800;
    font-size: 15px;
}
.main-nav {
    background-color: #009641;
    padding: 12px 0;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 800;
    letter-spacing: .5px;
}


.nav-prof {
    color: #fff !important;
    font-weight: 600;
    position: relative;
}



.navbar .btn {
    transition: .2s;
}

.navbar .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* --------- MODO ESCURO --------- */

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .navbar {
    background-color: #000 !important;
}

body.dark-mode .card,
body.dark-mode .bg-white,
body.dark-mode .table {
    background-color: #1e1e1e !important;
    color: #f1f1f1;
}

body.dark-mode .footer {
    background-color: #000;
}

body.dark-mode .nav-link,
body.dark-mode .navbar-brand {
    color: #f1f1f1 !important;
}