/* FOOTER */
.footer {
    background: #222;
    color: #eee;
}

.footer-link {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.footer-link:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.social-icon {
    font-size: 1.5rem;
    color: var(--yellow);
    transition: 0.2s;
}

.social-icon:hover {
    color: white;
    transform: scale(1.1);
}


.benefit-card {
    background: #1a1a1a;
    color: #fff;
    transition: 0.3s;
}
.benefit-card:hover {
    background: #222;
    transform: translateY(-5px);
}
.icon-circle {
    width: 55px;
    height: 55px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-circle i {
    font-size: 26px;
    color: #ffb100;
}

.testimonial-card {
    background: #fff;
    border-left: 5px solid var(--primary-green);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.newsletter-section {
    background: var(--primary-green);
}
.newsletter-section input {
    border: none;
}
