.content-box{
    min-height: 50vh;
}


/* FOOTER */
.footer {
    background: #222;
    color: #eee;
}

.footer-link {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.footer-link:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.social-icon {
    font-size: 1.5rem;
    color: var(--yellow);
    transition: 0.2s;
}

.social-icon:hover {
    color: white;
    transform: scale(1.1);
}


.benefit-card {
    background: #1a1a1a;
    color: #fff;
    transition: 0.3s;
}
.benefit-card:hover {
    background: #222;
    transform: translateY(-5px);
}
.icon-circle {
    width: 55px;
    height: 55px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-circle i {
    font-size: 26px;
    color: #ff9800;
}

.testimonial-card {
    background: #fff;
    border-left: 5px solid var(--primary-green);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.newsletter-section {
    background: var(--primary-green);
}
.newsletter-section input {
    border: none;
}

<<<<<<< Updated upstream

/* 
flash messages:
*/
/* FLASH MESSAGES */
.flash-message {
    padding: 14px 18px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    animation: fadeInDown 0.4s ease-out;
}

/* Sucesso — verde padrão */
.flash-success {
    background-color: #1e7e34; /* verde escuro */
}

/* Erro — verde intenso */
.flash-error {
    background-color: #28a745; /* verde médio forte */
}

/* Aviso — verde claro */
.flash-warning {
    background-color: #8fce00; /* verde claro vibrante */
    color: #1a1a1a; /* melhor contraste */
}

/* Informação — verde suave */
.flash-info {
    background-color: #5cb85c; /* verde suave */
}


/* Animação */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
=======
.promo-bar {
    width: 100%;
    background: #000;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    letter-spacing: .8px;
    border-bottom: 4px solid #ff9800;
    font-size: 15px;
}
.main-nav {
    background-color: #009641;
    padding: 12px 0;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 800;
    letter-spacing: .5px;
}


.nav-prof {
    color: #fff !important;
    font-weight: 600;
    position: relative;
}



.navbar .btn {
    transition: .2s;
}

.navbar .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
>>>>>>> Stashed changes

