{% extends 'base.html' %}
{% block title %} Não autorizado {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Você não está autorizado a acessar esta página</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body class="error404-body">
    <div class="error404-container">
        <h1 class="error404-title">403</h1>
        <p class="error404-message">Você não está autorizado a acessar esta página</p>
        <a href="/" class="error404-button">Voltar para a página inicial</a>
    </div>
</body>
</html>


{% endblock %}
