{% extends 'base.html' %}

{% block title %}Veículos{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Veículos</h2>

<form method="GET" class="row g-2 mb-4 align-items-center">
    <div class="col-md-3">
        <input type="text" name="q" id="q" class="form-control" 
               placeholder="Modelo ou marca" value="{{ request.args.get('q', '') }}">
    </div>

    <div class="col-md-2">
        <input type="text" name="marca" id="marca" class="form-control" 
               placeholder="Marca" value="{{ request.args.get('marca', '') }}">
    </div>

    <div class="col-md-2">
        <input type="number" name="ano" id="ano" class="form-control" 
               placeholder="Ano" value="{{ request.args.get('ano', '') }}">
    </div>

    <div class="col-md-2">
        <select name="ordem" id="ordem" class="form-select">
            <option value="">Ordenar por...</option>
            <option value="menor_preco" {% if request.args.get('ordem') == 'menor_preco' %}selected{% endif %}>
                Menor Preço
            </option>
            <option value="maior_preco" {% if request.args.get('ordem') == 'maior_preco' %}selected{% endif %}>
                Maior Preço
            </option>
        </select>
    </div>

    <div class="col-md-3 d-flex gap-2">
        <button type="button" class="btn btn-secondary w-100" id="clean_filter_btn">Limpar</button>
        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
    </div>
</form>


<div class="row g-4">
    {% for v in veiculos %}
    <div class="col-md-4">
        <div class="card shadow-sm p-3">


            {% if v.fotos and v.fotos|length > 0 %}
                <img src="{{ url_for('static', filename='uploads/' ~ v.fotos[0].filename) }}"
                     class="card-img-top rounded mb-3"
                     style="height: 200px; object-fit: cover;">
            {% else %}
                <div class="bg-light border rounded d-flex justify-content-center align-items-center mb-3"
                     style="height:200px;">
                    <span class="text-muted">Sem foto</span>
                </div>
            {% endif %}

            <h5 class="fw-bold">{{ v.modelo }} ({{ v.ano }})</h5>
            <p class="text-success fw-semibold">R$ {{ "%.2f"|format(v.preco_por_dia) }} / dia</p>

            <a href="{{ url_for('main.ver_veiculo', id=v.id) }}" class="btn btn-success">Ver</a>        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static',filename='js/filter.js') }}"></script>
{% endblock %}
